# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Downloads\pesni\novi pesni\pesni za telefon\gradski\simple-blockchain-voting-master\ib-blockchain-glasanje\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
